<div class="mainPage">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><span href="#default">Saaransh - Next Gen Feedback Collection Portal</span></h1>
      <span class="spacer"></span>
      <button class="toolButton home"> <span>Home</span></button>
      <button class="toolButton signout"> <span>Signout</span></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="width: 90%;" class="center">
    <mat-card class="example-card">
      <mat-card-title>Form link has been sent to {{respondents_sent ? 'the below emails': 'None'}}</mat-card-title>
      <div *ngFor="let r of respondents_sent">
        <mat-card-subtitle> {{r.email}}</mat-card-subtitle>
      </div>
      <mat-card-content>
        <mat-card-title>Send form link</mat-card-title>
        <mat-form-field style="width: 80%">
          <input matInput placeholder="Enter the email addresses seperated by semi-colon ';'" [(ngModel)]="respondents">
        </mat-form-field>
      </mat-card-content>
      <div>
        <mat-checkbox class="example-margin" [(ngModel)]="anonymous">Collect data Anoymously</mat-checkbox>
      </div>
      <div>
        <button mat-raised-button color="blue" (click)="send_form()">Send</button>
      </div>
    </mat-card>
  </div>
</div>
<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <span>Handicrafted with <span style="color: red">&hearts;</span> by Swati Kanchan</span>
  </mat-toolbar-row>
</mat-toolbar>
