
<div class="mainPage" style="overflow-x: hidden;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><span href="#default">Saaransh - Next Gen Feedback Collection Portal</span></h1>
      <span class="spacer"></span>
      <button class="toolButton home" (click)="home()"> <span>Home</span></button>
      <button class="toolButton signout" (click)="signout()"> <span>Signout</span></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="80px">
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="openCreateDialog()">Create New <i class="fa fa-plus"></i></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="warn" (click)="openCopyDialog()">Copy From Existing <i class="fa fa-clipboard"></i></button>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
  <div *ngFor="let form of forms; index as i; trackBy: trackByFn">
    <mat-grid-list cols="6" rowHeight="60px">
      <mat-grid-tile>{{i+1}}</mat-grid-tile>
      <mat-grid-tile>{{form.name}}</mat-grid-tile>
      <mat-grid-tile>
        <button class="toolButton feedback" (click)= "open_responses(form._id)"> <span>Feedbacks</span></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="toolButton edit" [routerLink]="['/form', form._id]"> <span>Edit</span></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="toolButton delete" (click)= "deleteForm(form._id)"> <span>Delete</span></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="form.active_status" [checked]="form.active_status" (click)="formState(form)" >
          <span class="slider round"></span>
        </label>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <span>Handicrafted with <span style="color: red">&hearts;</span> by Swati Kanchan</span>
  </mat-toolbar-row>
</mat-toolbar>
