<div class="mainPage" style="overflow-x: hidden;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1><span href="#default">Saaransh - Next Gen Feedback Collection Portal</span></h1>
      <span class="spacer"></span>
      <!-- <button class="toolButton home"> <span>Home</span></button>
      <button class="toolButton signout" (click)="signout()"> <span>Signout</span></button> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-list *ngFor="let r of responses">
    <mat-list-item>{{r.respondent}} <span style="flex: 1 1 auto;"></span> submitted at {{r.submit_time}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <!-- <div>
    <div *ngFor="let ra of r">
      {{ra.question_id}}
      {{ra.answer}}
    </div>
  </div> -->
</div>
<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <span>Handicrafted with <span style="color: red">&hearts;</span> by Swati Kanchan</span>
  </mat-toolbar-row>
</mat-toolbar>
